@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');

html {
	font-size: 16px;
}
body {
	font-weight: 400;
	box-sizing: border-box;
	outline: none;
  background-color: aliceblue;
	/* background: rgb(26, 26, 26); */
	/* background-image: url("./spacex-img-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left center; */
	background-attachment: fixed;
	overflow-y: scroll;
	/* min-height: 100vh; */
  height: 100%;
  font-family: 'Poppins', sans-serif;
}


